# macOS specific files
.DS_Store

# Visual Studio Code settings
.vscode/

# pytest cache
.pytest_cache/

# Development container configuration
.devcontainer/

# Python pycache
__pycache__/

# Weights & Biases
wandb/

# Ignore application logs
log_*

# Ignore experiments
/SPiKE/experiments/**/log/

/SPiKE/modules/build/
/SPiKE/modules/dist/
/SPiKE/modules/pointnet2.egg-info/
SPiKE/experiments/best_model.pth
/SPiKE/datasets/BAD/
/ST-RGCN/dataset/BAD
/ST-RGCN/dataset/standard_skeleton/depth_map.bin