certifi
charset-normalizer
click
colorama
contourpy
cycler
docker-pycreds
filelock
fonttools
fsspec
gitdb
GitPython
h5py
idna
imageio
intel-openmp
Jinja2
kiwisolver
MarkupSafe
matplotlib
mkl
mpmath
networkx
numpy
opencv-python
packaging
pillow
platformdirs
protobuf
psutil
pyparsing
python-dateutil
PyYAML
requests
scipy
sentry-sdk
setproctitle
setuptools
six
smmap
sympy
tbb
torch
tqdm
typing_extensions
urllib3
wandb
